body {
    font-family: sans-serif;
}
header{
    background-color:white ;
    border: 2px solid black;
    border-radius:8px;
}

nav{
    background-color: rgb(59, 122, 59);
    padding: 6px;
    border-radius: 9px;
}
nav a{
    
    border-radius: 9px;
    border: 2px solid rgb(59, 122, 59);

}
h2{
    color: blue;
}
h1{
    border-radius: 15px;
    border: 2px solid black;
    text-align:center;
    color:rgb(241, 2, 241);
}
img rsc{
    background-color: green;
    border-radius: 10px;
}

header a{
    color:white;
}
footer{
    text-align: centre;
    padding: 20px;
    background-color:black;
    border-radius:14px ;
}
footer p{
    padding: 5px;
    background-color: white;
    border-radius: 15px;
}
